.app {
	background-color: gray;
	border: 1px solid black;
	max-width: 1200px;
	text-align: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 30px;

	.active {
		color: green;
	}
}
