.app {
	background-color: gray;
	border: 1px solid black;
	text-align: center;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 30px;
	color: aqua;
  }

  .navigation--link .active {
	color: green;
  }
  
  
  
  

  